.card {
  width: 600px;
  margin-bottom: 0;
}

.hole-game {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.status {
  margin-bottom: 20px;
}
.hole {
  width: 150px;
  height: 150px;
  margin: 0 15px 30px;
  background: gray;
  border-radius: 50%;
}

.hole_has-mole {
  background-image: url(https://i.postimg.cc/rmtGV8h9/mole.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modal__window {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: #dfdfdf;
  box-shadow: 0 0 20px black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 26px;
  z-index: 10;
}

.modal__text {
  color: black;
}

.modal-button {
  width: 100px;
  height: 50px;
  font-size: 26px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
